ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%; 
    position: absolute; 
    overflow: auto; 
  }
  li {
    display: inline;
    float: right;
}

.image-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 11.4%;
    padding-left: 39.3%;
}

#image {
    position: absolute;
}

