.navi {
    float: right;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    display: inline;
}
.image-container {
    background-position: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 11.4%;
    padding-left: 39.3%;
}

#image {
    position: absolute;
}
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    border-radius: 50px;
}


